<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ page.subtitle }}</title>
    <link rel="stylesheet" href="./stylesheet.css">
    <meta property="og:image" content="./preview.png" />
    {%- comment -%} <link rel="icon" href="./icon.png"> {%- endcomment -%}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R44XEYQZQT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-R44XEYQZQT');
    </script>
</head>
<body>
    <div id="foil" style="background: {{ page.background }}"></div>"
    <div id="intro-page">
        <div id="title">{{ page.title }}</div>
        <div id="subtitle">{{ page.subtitle }}</div>
        <div id="links">
            {{ content }}
            <!-- <div class="link"><a href="https://apps.apple.com/app/id6462700419">download it here</a></div>
            <div class="link"><a href="https://chrome.google.com/webstore/detail/mutable/daniknejbbnjhfmcgolfpaedkpcfkaop">source code</a></div>
            <div class="link"><a href="https://microsoftedge.microsoft.com/addons/detail/mutable/eljpclpdfpmlicjlldnfeehfpfhljgbf">in the press</a></div>
            <div class="link"><a href="https://addons.mozilla.org/en-US/firefox/addon/mutable/">firefox extension</a></div> -->
        </div>
        <div id="github"><a href="{{ page.source_code }}" target="_blank">{{ page.title }} is open source, click here for the good stuff!</a></div>
        <div id="annotation">{{ page.annotation }}</div>
        <div id="me">Made with ❤️ by <a href="https://idreesinc.com" target="_blank">Idrees</a></div>
    </div>
</body>
</html>