<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ page.subtitle }}</title>
    <link rel="stylesheet" href="./stylesheet.css">
    <meta property="og:image" content="./preview.png" />
    {%- comment -%} <link rel="icon" href="./icon.png"> {%- endcomment -%}
    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "oz4zpzcp54");
    </script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R44XEYQZQT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-R44XEYQZQT');
    </script>
</head>
<body>
    <div id="foil" style="background: {{ page.background }}"></div>"
    <div id="intro-page">
        <div id="title">{{ page.title }}</div>
        <div id="subtitle">{{ page.subtitle }}</div>
        <div id="links">
            {{ content }}
        </div>
        {% if page.source_code %}
            <div id="github"><a href="{{ page.source_code }}" target="_blank">{{ page.title }} is open source, click here for the good stuff!</a></div>
        {% endif %}
        {% if page.annotation %}
            <div id="annotation">{{ page.annotation }}</div>
        {% endif %}
        <div id="me">Made with ❤️ by <a href="https://idreesinc.com" target="_blank">Idrees</a></div>
    </div>
</body>
</html>